:root {
    --text-color: #1a1a1a;
    --link-color: #1a1aff;
    --bg-color: #fafafa;
    --transition-time: .25s;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 50px;
    margin-bottom: 50px;
}

nav .left a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 22px;
}

nav .right a {
    margin-right: 10px;
    color:var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 0 5px;
}

nav .right a:last-child {
    margin-right: 0px;
    color: var(--bg-color);
    background-color: var(--text-color);
    /* transition: var(--transition-time); */
}

nav .right a:last-child:hover {
    color: var(--text-color);
    background-color: transparent;
    transition: var(--transition-time);
}

/* section 1: hero */

.hero-section {
    display: flex;
    align-items: center;
    margin: 0 50px;
    gap: 20px;
}

.hero-section .text {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.hero-section .text span {
    margin-bottom: 20px;
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

.hero-section .text .links {
    /* display: inline-block; */
    margin: 0 auto;
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 15px;

    border: 2px solid var(--link-color);
    border-radius: 5px;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    transition: var(--transition-time);
    cursor:pointer;
}

/* section 2: services */

.services-section {
    margin-top: 20px;
    padding: 0 50px;
}

.services-section .cont {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    margin-top: 20px;
    
}

.services-section .cont ul {
    padding-left: 50px;
}

.services-section .cont .left {
    flex: 5;
}

.services-section .cont .right {
    flex: 5;
}

.services-section .cont .right p {
    margin-top: 20px;
    font-style: italic;
}

/* section 3: Experience */

.experience-section {
    margin: 0 50px;
    margin-top: 50px;
    
}

.experience-section .block .title {
    font-size: 22px;
    margin-top:30px;
    font-weight: 600;
    border-bottom: 2px solid var(--text-color);
}

.experience-section .block .text {
    margin-top: 15px;
}

/* section 4: Education */

.education-section {
    margin: 0 50px;
    margin-top: 50px;
}

.education-section .block {
    margin-top: 20px;
}

.education-section .block:first-child {
    margin-top:0px;
    padding-top:0;
}

.education-section .block .title {
    display: flex;
    justify-content: left;
    align-items:end;
    gap: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--text-color);
}

.education-section .block .title img {
    border-radius: 10px;
    border: 2px solid var(--text-color);
    /* aspect-ratio: 1 / 1; */
    padding: 5px 15px;
    width: 200px;
}

.education-section .block .title span {
    font-size: 22px;
    font-weight: 600;
}

.education-section .block a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 15px;

    border: 2px solid var(--link-color);
    border-radius: 5px;
}

.education-section .block a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    transition: var(--transition-time);
    cursor:pointer;
} 

.education-section .block .text {
    margin-top: 15px;
}

/* Section 5: contact */

.contact-section {
    margin: 0 50px;
}

.contact-section h2 {
    border-bottom: 2px solid var(--text-color);
}

.contact-section .block {
    display: flex;
    gap: 50px;
    margin-top: 15px;
}

.contact-section .block .left {
    flex:7;
}

.contact-section .block .right {
    display: flex;
    flex-direction: column;
    gap:10px;

    flex:3;
}

.contact-section .block .right a.form_link {
    color: var(--bg-color);
    background-color: var(--text-color);
    text-align: center;
    border: 2px solid var(--text-color);
    padding: 5px 15px;
}

.contact-section .block .right a.form_link:hover {
    color: var(--text-color);
    background-color: transparent;
    transition: var(--transition-time);
}

/* Resizing for smaller screens */
/* MEDIA QUERIES */

@media (max-width: 850px) {
    /* SECTION 1: HERO */
    .hero-section .text h1 {
        font-size: 25px;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    /* section 4: education */
    .education-section .block .title img {
        width: 100px;
    }

    /* section 5: contact */
    .contact-section .block .left {
        flex:5;
    }

    .contact-section .block .right {
        flex:5;
    }
}

@media (max-width: 650px) {

    body {
        font-size: 12px;
        margin: 0;
        padding-bottom: 25px;
    }

    /* navbar */
    nav .right a span {
        display: none;
    }

    nav .left a {
        font-size: 16px;
    }

    /* section 1: hero */
    .hero-section {
        margin: 0 5px;
    }

    /* section 2: services */
    .services-section {
        padding:0 5px;
        margin-left:0px;
        margin-right: 0px;
    }

    .services-section .cont {
        flex-direction: column;
        gap:25px;
    }

    .services-section .cont .left ul {
        columns: 2;
    }

    /* section 3: experience */
    .experience-section {
        margin: 0 5px;
        margin-top: 15px;
    }

    .experience-section .block .title {
        font-size: 14px;
    }

    /* section 4: education section */
    .education-section {
        margin: 0 5px;
        margin-top: 15px;
    }

    .education-section .block .title img {
        width: 50px;
    }

    .education-section .block .title span {
        font-size: 14px;
    }

    /* section 5: contact section */
    .contact-section {
        margin: 0 5px;
        margin-top: 15px;
    }

    .contact-section .block {
        gap: 5px;
        flex-direction: column-reverse;

    }

    .contact-section .block .right a {
        font-size: 12px;
        margin: 0 50px;

    }
}

@media (max-width: 450px){

    body {
        font-size: 10px;
        margin-top: 0;
    }

    /* navbar */
    nav {
        margin: 0 5px;
        height: 100px;
        margin-top: 0;
    }

    nav .left a {
        font-size: 12px;
    }

    /* section 1: hero */
    .hero-section .headshot img {
        width:250px;
    }

    /* section 3: experience */
    .experience-section .block .title {
        font-size: 12px;
    }

    /* section 4: education */
    .education-section .block .title {
        gap: 5px;
    }

    .education-section .block .title span {
        font-size: 12px;
    }

}

@media (max-width: 350px) {
    /* section 4: education-section */
    .education-section .block .title img {
        width: 35px;
    }

    .education-section .block .title span {
        font-size: 10px;
    }
}

